body {
   background-position: fixed;
   background-image: url(bg.jpg); /* Путь к фоновому изображению */
   background-size: 300%;
  }

.title1 {
  position: fixed;
  font-size: 500%;
  font-weight: bold;
  left: 35%;
}
.title2 {
  position: fixed;
  font-size: 500%;
  font-weight: bold;
  left: 42%;
  top:15%;
}
